---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import Navigation from '../components/Navigation';
import MobileNavMenu from '../components/MobileNavMenu';

import '../styles/main.css'
import '../styles/layout.css'

import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<SEO
			title={title}
			description={description} />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- TODO: Remove Me -->
		<!-- <title>{title}</title>
		<meta name="description" content={description} /> -->
		<link rel="preload" href="/fonts/Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/fonts/Hubot-Sans.woff2" as="font" type="font/woff2" crossorigin>
	</head>
	<script async is:inline src="https://www.googletagmanager.com/gtag/js?id=G-ZXNLX86V8S" type="text/partytown"></script>
	<script is:inline type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-ZXNLX86V8S');
	</script>
	<header>
		<MobileNavMenu client:visible/>
		<Navigation />
	</header>
	<body>
		<slot />
	</body>
</html>