---
import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
    title: string
    author: string
    date: string
    url: string
    description: string
}>;
const { frontmatter, url } = Astro.props;
import Navigation from '../components/Navigation';

import '../styles/layout.css'
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta rel="canonical" href={new URL(url, Astro.site).pathname}>
        <title>{frontmatter.title}</title>
        <meta name="description" content={frontmatter.description} />
        <link rel="preload" href="../../fonts/Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="../../fonts/Hubot-Sans.woff2" as="font" type="font/woff2" crossorigin>
    </head>
    <header>
        <Navigation />
    </header>
    <body class="text-center">
        <link rel="stylesheet" href="/prism-one-dark.css" />
        <h1 class="text-center">{frontmatter.title} by {frontmatter.author}</h1>
        <slot />
        <p>Written on: {frontmatter.date}</p>
    </body>
</html>

